name: Backend CI/CD

on:
  push:
    branches:
      - feature/**
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore and build
        run: |
          dotnet restore
          dotnet build --no-restore --configuration Release
      - name: Run backend tests
        run: |
          dotnet test Karamel.Backend.Tests -c Release --no-build

  deploy-to-appservice:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Publish
        run: |
          dotnet publish Karamel.Backend -c Release -o publish
      - name: 'Azure WebApp Deploy'
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: publish
