name: Frontend CI/CD

on:
  push:
    branches:
      - feature/**
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '26'
      - name: Install dependencies
        working-directory: Karamel.Web/wwwroot
        run: |
          npm ci
      - name: Run JS tests
        working-directory: Karamel.Web/wwwroot
        run: |
          npm run test:run

  deploy-staticweb:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '26'
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Build Blazor WASM
        run: |
          dotnet publish Karamel.Web -c Release -o artifact
      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: '/' 
          output_location: 'artifact/wwwroot'
